body {
    background: #1F8A70;
    color: #FFE019;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

[id=all-contents] {
    max-width: 800px;
    margin: auto;
}


/* Main navigation menu */

nav {
    background: black;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: outset;
    border-right: outset;
    border-left: outset;
    border-color: purple;
}

nav header {
    display: flex;
    align-items: center;
    color: #BFDB39;
    flex: 1;
    padding-left: 10px;
}

nav ul {
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* Main container area beneath menu */

main {
    background: #00425A;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: outset;
    border-right: outset;
    border-left: outset;
    border-color: purple;
    padding-right: 20px;
}

[class=sidebar] {
    margin-right: 25px;
    padding: 10px;
}

[class=sidebar] img {
    width: 200px;
}

[class=content] {
    flex: 1;
    padding: 15px;
}

.content h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

.content section > a {
    text-decoration: none;
}